<div class="box">
  <form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
    <div class="spinner-border js-spinner spinner is-hidden" role="status">
      <span class="sr-only"></span>
    </div>
  </form>

  <ul class="gallery"></ul>

  <button class="show-more__btn is-hidden" type="button" data-action="show-more">
    <span class="btn-text">Show more</span>
    <div class="spinner-border is-hidden js-btn-spinner" role="status">
      <span class="sr-only"></span>
    </div>
  </button>
</div>
